#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Inter, Avenir, Helvetica, Arail, sans-serif;
  color: black;
  background-color: white;
  margin-left: 2rem;
  margin-right: 2rem;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

.card{
  color: #000;
  background-color: #fff;
  padding-bottom: 20px;
  box-shadow: 0 15px 25px #817c7c33;
  font-size: medium;
  border-radius: 14px;
  backdrop-filter: blur(2px);
  text-align: center;
  margin-bottom: 30px;
  height: 250px;
}

.card-img-top {
  width: 20px;
  height: 15rem;
}
.col-sm:hover {
  cursor: pointer;
  transform: scale(1.2);
  z-index: 1;
}

.top {
  padding-bottom: 40px;
}

.banner {
  max-height: 10rem;
}

h1{
  padding-top: 40px;
}

h5{
  padding-top: 20px;
}

.footer {
  padding-top: 20px;
}